cv_model/fasterrcnn_mobilenet_v3_large_320_fpn-907ea3f9.pth filter=lfs diff=lfs merge=lfs -text
cv_model/fasterrcnn_mobilenet_v3_large_fpn-fb6a3cc7.pth filter=lfs diff=lfs merge=lfs -text
cv_model/fasterrcnn_resnet50_fpn_coco-258fb6c6.pth filter=lfs diff=lfs merge=lfs -text
cv_model/maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth filter=lfs diff=lfs merge=lfs -text
cv_model/retinanet_resnet50_fpn_coco-eeacb38b.pth filter=lfs diff=lfs merge=lfs -text
